.c1 .c2 {
    padding: 12px 20px;
    text-align: center;
}

#conatiner1 {

    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 13px 10px;

}

.navbar a:hover {
    border: 2px solid black;
}

.navbar ul {
    overflow: auto;
}

.navbar li a {
    padding: 5px 5px;
    text-decoration: none;
    color: black;
}


#search {
    float: left;
    color: rgb(5, 22, 17);
    padding: 10px 500px 10px 10px;
}

.navbar input {
    border: 3px;
    border-radius: 14px;
    padding: 3px 17px;
    width: 140px;

}

button {
    height: 20px;
    width: 50px;
    text-align: right;

}

.content {

    vertical-align: middle;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f0ebeb;
    width: 100%;
    padding: 190px;

    text-align: center;

}

.bg_div {
    background-color: aqua;
}

.navbar h1 {
    padding-left: 10px;
    padding-top: 30px;

}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: left;
}

.list1 a:hover {
    background-color: #ddd;
    color: black;
}

.list1 a {
    float: right;
    color: #0c0b0b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.burgerr {
    background-color: whitesmoke;
    position: absolute;
    margin-left: 10px;
    /* margin-top: 150px; */
}

.burgerr :hover {
    border: 1px solid black;
}

.pizza {
    
    margin-top: 200px;
    position: absolute;
    margin-left: 12px;
    background-color: whitesmoke;
}

.pizza :hover {
    border: 1px solid black;
}

.pizza1 {
    background-color: whitesmoke;
    margin-top: 400px;
    position: absolute;
    margin-left: 12px;
}

.pizza1 :hover {
    border: 1px solid black;
}